<div class="container">
<div class="layoutdashboard">
    <div class="cardboard card1">
        <div class="content">
            <div class="card">
                <app-sparepart title="Empty Sparepart" mode="empty"></app-sparepart>       
            </div>
        </div>
    </div>
    <div class="cardboard card2">
        <div class="content">
            <div class="card">
                <app-assets  title="Inactive Assets" mode="inactive"></app-assets>              
            </div>
        </div>
    </div>
    <div class="cardboard card3">
        <div class="content">
            <div class="card">
                <app-service></app-service>       
            </div>
        </div>
    </div>
    <div class="cardboard card4">
        <div class="content">
            <div class="card">
                <app-assets  title="Assets On Maintenance" mode="maintenance"></app-assets>    
            </div>
        </div>
    </div>
</div>
</div>