<div class="layout-detail">
    <div class="detail left">
        <div class="card">
            <div class="card-layout">
            <img class="photo" src="/assets/img/not-found.png">
            </div>
        </div>
    </div>
    <div class="detail right">
        <div class="card">
            <div class="card-layout">
            <table>
                <tr><td><b>id</b></td><td>{{dataSend.id}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>name</b></td><td>{{dataSend.name}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>serial_number</b></td><td>{{dataSend.serial_number}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>type</b></td><td>{{dataSend.type}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>location</b></td><td>{{dataSend.location}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>model_number</b></td><td>{{dataSend.model_number}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>manufacturer</b></td><td>{{dataSend.manufacturer}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>current_status</b></td><td>{{dataSend.current_status}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
            </table>
            <div class="btn-card">
                <button class="bg-danger">Delete</button>
            </div>
            </div>
        </div>
    </div>
</div>

