<div class="sidemenu">
    <div class="head">
        <div class="user">
            <div class="picture">
                <img src="{{sessionService.picture}}">
            </div>
            <div class="title">
                {{sessionService.name}}
            </div>
            <div class="menu">
                <div class="left">
                    <img src="/assets/img/home.png" (click)="goTo(btnhome)">
                </div>
                <div class="right">
                    <img src="/assets/img/logout.png" (click)="goTo(btnlogin)">
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="menu">
            <div class="list" *ngFor="let item of menu">
                <button (click)="goTo(item)" [ngClass]="{'active':item.key===pageService.activePage}">{{item.name}}</button>
            </div>
        </div>
    </div>
</div>
