<div class="layout-detail">
    <div class="detail right">
        <div class="card">
            <div class="card-layout">
            <table>
                <tr><td><b>id</b></td><td>{{dataSend.id}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>name</b></td><td>{{dataSend.name}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>type</b></td><td>{{dataSend.type}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
                <tr><td><b>details</b></td><td>{{dataSend.details}}</td><td class="text-right"><img src="/assets/img/edit.png"></td></tr>
            </table>
            <div class="btn-card">
                <button class="bg-danger">Delete</button>
            </div>
            </div>
        </div>
    </div>
</div>

